$height: 290px;

.main {
  width: 100%;
  height: $height;
  display: flex;
  flex-wrap: wrap;
  color: white;

  &:hover {
    .photo > img {
      transform: rotate(10deg) scale(1.1);
    }

    .photo {
      width: calc(#{$height} + 15px);
    }
  }
}

.photo {
  position: relative;
  width: $height;
  height: $height;
  padding: 43px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(white, 0.1);
  transition: all 0.3s;

  > img {
    height: 100%;
    transition: all 0.3s;
  }
}

.details {
  flex: 1;
  height: 100%;
  padding: 32px 40px;
  box-sizing: border-box;
}

.name {
  font-size: 32px;
  margin: 0 0 5px;
}

.attributes {
  font-size: 24px;
  color: #eeeeee;
}

.description {
  font-size: 20px;
  margin: 20px 0 0;
}
