.details {
  text-align: center;
}

.photo {
  height: 308px;
  margin-bottom: 24px;
}

.name {
  font-size: 55px;
  margin: 0 0 11px;
}

.attributes {
  font-size: 24px;
  color: #333;
  font-weight: 400;
}

.description {
  font-size: 20px;
  margin-top: 45px;
  text-align: left;
}
