{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "pages": "./src/pages",
          "utils": "./src/utils",
          "db": "./src/database.js",
          "theme": "./src/theme.scss"
        },
        "extensions": [".js", ".json"]
      }
    ]
  ]
}
