.main {
  display: inline-block;
  position: relative;
  width: 170px;
  height: 50px;
  background-color: #f44336;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;

  &.waiting {
    background-color: grey;
    cursor: not-allowed;
  }
}

.label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 2;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: black;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 0.1;
  }
}
