.title {
  margin-top: 80px;
  font-size: 55px;
  text-align: center;
}

.quote {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 130px;
  color: #333333;
  font-size: 30px;
  text-align: center;
}

.link {
  text-decoration: none;
}
